SECRET_KEY='secret-key'
DEBUG=True
AUTH_USER_MODEL='users.User'

#JWT - where token is generated
TOKEN_URL='http://localhost:8000/api/gettoken/'

# DATABASE
ENGINE='django.db.backends.mysql'
NAME='<DATABASE NAME>'
USER='<DATABASE USER>'
PASSWORD='<DATABASE PASSWORD>'
HOST='<DATABASE HOST>'

CORS_ORIGIN_ALLOW_ALL=True
CORS_ALLOW_CREDENTIALS=True